#Seccion1
# Logs
seccion1/react-gpt/logs
seccion1/react-gpt/.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

seccion1/react-gpt/node_modules
seccion1/react-gpt/dist
seccion1/react-gpt/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# NEST SECCION 1 ********************************
# compiled output
Seccion1/nest-gpt/dist
Seccion1/nest-gpt/node_modules
Seccion1/nest-gpt/.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
Seccion1/nest-gpt/coverage
Seccion1/nest-gpt/.nyc_output

# IDEs and editors
Seccion1/nest-gpt/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json